[2015-06-24 11:28] shinji62 opened #2 "Enable_4443"
Even if I don't setup the flag Enable_4443, seems the wss configuration is setup anyway ..

[2015-06-24 18:55] #2 closed

[2015-06-24 18:58] geofffranks commented on #2
Thanks for catching this! Should be better with Release v4

[2015-06-26 06:39] shinji62 opened #5 "Forward X-Forwarded-proto header"
Hi,

If I want to use only the port 80 as proxy (default) behind an ELB the forwarded proto should be pass, be cause some application can require this proto.

Example :

ELB 80,443,4433--> 80 Haproxy --> 80 router --> my app

If I query https://mydomain.com the ELB will give the https as forwarder-proto but haproxy still send http, my app is expecting https so I will send a redirect to https ....

[2015-06-26 06:39] shinji62 commented on #5
PR https://github.com/cloudfoundry-community/cf-haproxy-boshrelease/pull/4

[2015-06-26 13:12] geofffranks commented on #5
Merged.

[2015-06-26 13:12] #5 closed

[2015-06-30 01:18] shinji62 opened #6 "Release tarball"
Any chance to have the release tarball somewhere  ?

``` bosh create release --with-tarball ```

[2015-06-30 01:24] geofffranks commented on #6
You should be able to grab it from http://bosh.io/releases/github.com/cloudfoundry-community/cf-haproxy-boshrelease (or more specifically http://bosh.io/d/github.com/cloudfoundry-community/cf-haproxy-boshrelease). Will that work for you?

[2015-06-30 01:25] shinji62 commented on #6
Lol Did not check the bosh website sorry :)
Thanks

[2015-06-30 01:25] #6 closed

[2015-07-23 02:43] drnic opened #7 "`bosh verify deployment` is not included by default"
Perhaps document how to install `bosh verify deployment` (its mentioned in the readme)

[2015-08-14 15:04] cromega opened #9 "upgrade to 1.5.14"
Upgrade haproxy to 1.5.14 as it resolves [this CVE](http://www.cvedetails.com/cve/CVE-2015-3281/).

[2015-08-14 15:39] cromega commented on #9
We are actually running 1.5.14 using a fork but sending a PR seemed a bit pointless as we can't upload the blob.

[2015-08-17 12:48] longnguyen11288 commented on #9
Added it @cromega

[2015-08-17 12:48] #9 closed

[2015-08-24 10:20] Koizumi85 opened #10 "add "https redirect" possibility"
Hello,

we have a cloudfoundry deployment using the cf-haproxy-boshrelease as load balancer. We would like to redirect all users to https, so that they are not able to use http anymore.
I think everything would be okay with adding the following line in the "http-in"-frontend:

"redirect scheme https code 301 if !{ ssl_fc }"

Would it be possible to add a configuration option for this? something li

[2015-08-24 11:29] longnguyen11288 commented on #10
yes this would be possible, can you make PR with changes?

[2015-08-24 11:33] Koizumi85 commented on #10
I am not really familiar with Pull Requests, but i will try to make one. Do i have to sign some CLA or something like this before?

[2015-08-24 12:50] longnguyen11288 commented on #10
Nope!

On August 24, 2015 at 7:33:29 AM, Koizumi85 (notifications@github.com) wrote:

I am not really familiar with Pull Requests, but i will try to make one. Do i have to sign some CLA or something like this before?

—
Reply to this email directly or view it on GitHub.

[2015-08-27 05:18] ronakbanka commented on #10
@Koizumi85 Even i was thinking to put this in , If you are opening the PR i will wait or can open one if you are fine with it?

[2015-08-27 05:20] shinji62 commented on #10
@Koizumi85 this PR is good training for you :)

[2015-08-28 17:09] Koizumi85 commented on #10
Little question... how can i test if my change in the config-template works like expected?
I am really new with this whole cloudfoundry and template stuff and have no idea :D

The fix is a little bit different by the way. I noticed, that it would be not enough to simply enable the redirect for every domain and therefore i had the idea to add some property like "additional_http_configuration_option

[2015-08-28 17:30] Koizumi85 opened #11 "Compile with USE_ZLIB=yes and provide configuration options in haproxy.config.erb"
For the possibility of using gzip compression, the release should be compiled with USE_ZLIB=yes and there should be configuration properties for enabling gzip compression like the following:

compression algo gzip
compression type text/html text/plain text/css

I think best would be to provide a parameter for defining the "text/html text/plain text/css" part. If the parameter is not empty, both li

[2015-08-31 05:52] shinji62 commented on #10
You can too options :

1- Force https for all domain
2- If 1 is false you can give an array of domain

If 1 is false and no domain so you have nothing where you need to force the redirect.

[2015-08-31 06:08] ronakbanka commented on #10
@shinji62 @Koizumi85 Guys how about using map feature from HAproxy.
With the host array can populate a map table and check hdr(host) against the map. Will be much faster in case of large number of hosts, as map uses tree for search instead of looking each entry in frontend .

http://blog.haproxy.com/2015/01/26/web-application-name-to-backend-mapping-in-haproxy/

[2015-08-31 06:38] shinji62 commented on #10
We should not go deeper than the domain level and keep the wildcard.
Normally you don't need to force redirect to 1000 of domain.
We can use the map feature but again we should only use the dmain level

mydomain.com
yourdomain.com

and not app1.domain.com and so on..

[2015-08-31 16:30] Koizumi85 commented on #10
@shinji62 @ronakbanka
Hello,
first thanks for your ideas. Not sure if i will get this done, but i will try it out.
But again my question from above: How can i test if my templates are working as expected? Is there a method to process the templates with a given set of properties and to look at the output?
I did never build a cloudfoundry job, so i don't have a clue what to do :-D

[2015-09-01 02:29] shinji62 commented on #10
From my side I am just using bosh-lite and try to deploy my bosh release locally and just go inside the Vm after that.

[2015-09-01 13:19] Koizumi85 commented on #10
Okay, then i will try to resolve this issue. If i have problems with that i will contact you again :-)

[2015-09-17 11:06] ramelito opened #12 "Add app_ssh_access to provide ssh access to containers"
cc.allow_app_ssh_access:
    default: true
    description: "Allow users to change the value of the app-level allow_ssh attribute"

  app_ssh.port:
    description: "External port for SSH access to application instances"
    default: 2222

[2015-09-17 16:22] longnguyen11288 commented on #12
can you make PR for this?

[2015-09-17 18:40] ramelito commented on #12
nope, it is a proposal to incorporate ssh_access to haproxy

[2015-09-21 13:14] Koizumi85 commented on #10
@shinji62 Hi, currently I am trying to get the cf-haproxy-boshrelease running on bosh-lite, but am not successful.
I installed vagrant in the recommended version and virtualbox also. bosh-lite is starting and after targetting the director i tried to use:
templates/make_manifest warden 10.244.0.22 from repository root directory. But at the moment the script tries to upload a stemcell (because there

[2015-09-21 22:04] Koizumi85 commented on #10
Okay, I think I have a solution which works and will try to explain (don't make PR now, because i have to clean up a little bit):

I introduced two properties: "https_redirect_all" (boolean) and "https_redirect_domains" (String Array)
- If https_redirect_all is true, all requests will be redirected
- If https_redirect_all is false, I am inserting the following two lines:
[code]
In these two lines

[2015-09-21 22:08] Koizumi85 commented on #11
I worked on this issue today and it seems that I fixed it. I will provide a PR the next days after some cleanups.

While working on this I found a wrong configuration i believe.
In the file packages/packaging the version of haproxy-tarball was "1.5.14"
In the file packages/spec the version for haproxy was "1.5.10" which lead to a "missing file" error while compiling the package.
I fixed it so that

[2015-09-25 11:12] cromega commented on #9
We would love to have a release with this change, thanks.

[2015-09-27 01:14] shinji62 commented on #11
Thanks please a PR.

[2015-09-27 01:15] shinji62 commented on #10
Should be ok, waiting for your PR too

[2015-09-27 15:09] Koizumi85 commented on #11
@shinji62 Hi, created the PR (Hope i did it right. Never did this before :) )
See PR #14

[2015-09-27 15:10] Koizumi85 commented on #10
@shinji62 Created PR for this also. See PR #15

[2015-09-28 11:26] cromega commented on #12
@ramelito: feel free to join the discussion here: https://github.com/cloudfoundry-community/cf-haproxy-boshrelease/pull/13

[2015-09-28 18:38] geofffranks commented on #10
:+1: looks good to me, @shinji62, can you review as well?

[2015-09-28 18:39] geofffranks commented on #11
:+1: from me, @shinji62?

[2015-09-28 18:47] geofffranks opened #16 "Acceptance/smoke test suites"
This release needs some tests to verify functionality is working as desired.

Things to consider:
app ssh access
gzip compression testing
force-https redirecting
tunnel timeouts for websockets over 443
handling x-forwarded-for and x-forwarded-proto/port headers properly
backend server connection tests
whatever else i can think of

[2015-09-29 02:31] shinji62 commented on #11
LGTM

[2015-09-30 23:53] shinji62 commented on #10
@geofffranks LGTM :)

[2015-10-09 15:12] geofffranks commented on #10
Merged, and part of the v6 release

[2015-10-09 15:12] #10 closed

[2015-10-09 15:12] geofffranks commented on #11
Merged, and released in v6. Sorry for the delays!

[2015-10-09 15:12] #11 closed

[2015-10-09 15:15] Koizumi85 commented on #11
Thank you. Good timing. Tomorrow i will make some maintanance and will update to the new version then :+1:

[2016-03-29 13:41] #7 closed

[2016-03-31 13:36] #12 closed

[2016-05-14 02:43] cppforlife opened #22 "delete releases/cf-haproxy/cf-haproxy-8.0.0.tgz from the repo"

[2016-06-20 13:02] geofffranks commented on #22
Looks like you already removed it from the repo. This was caused by a bad gitignore, that is now updated, so this won't happen on the next release

[2016-06-20 13:02] #22 closed

[2016-06-29 10:15] mridhuljp commented on #16
@geofffranks  : Could you please share some inputs on the testing plan / approach ?

[2016-06-29 13:39] geofffranks commented on #16
I was thinking of having a bosh errand to run smoke tests  to verify the above functionality, that could be run after deploying cf-ha-proxy in front of a backend that was set up to facilitate the testing.. maybe a separate bosh release for that and the tests. then our CI pipeline would deploy both, run the tests, and validate the new version of cf-haproxy?

[2016-10-06 20:12] patelpu94 opened #27 "accept-proxy for haproxy frontend"
This option tells HAProxy that whatever sits in front of it will append the PROXY header to TCP payloads.

[2016-11-14 17:47] geofffranks opened #30 "Rename the boshrelease?"
There can be some significant confusion when talking about this boshrelease in contrast with the haproxy job provided by cf-release, as it's the "CF HAProxy boshrrelease" (do you mean the cf-release's HAProxy, or cf-haproxy-boshrelease"?)

Should we rename this to something a little less confusing, perhaps loadbalancer-boshrelease, or haproxy-boshrelease, or some other name?

[2016-11-15 01:48] shinji62 commented on #30
+1 for haproxy-boshrelease.

[2016-11-15 05:42] jhunt commented on #30
I'd prefer something a little more unique, like cloudfront-boshrelease or cloudgate-boshrelease, since it's not a general purpose haproxy release.

[2016-11-15 05:46] shinji62 commented on #30
It's haproxy software no more no less ..

[2016-11-15 06:48] 7CHANHO opened #31 "Make manifest on openstack"
## Issue
I tried to make manifest on openstack infrastructure using 'make_manifest' script.
But It does'n work. I did not use this script file, so it took a lot of work to make a manifest file.

## Solution
I've modified it can make a manifest on openstack infrastructure.
The biggest difference from the previous one is that the cf manifest file is merged.

### Usage
1. Customise your deployment st

[2016-11-15 13:39] poblin-orange commented on #30
Hello,
id say haproxy-boshrelease, loadbalancer is way much too generic, IHMO
Pierre

[2016-11-15 14:08] jhunt commented on #30
I was under the impression that there were CF-specific bits in this release, but if that is not the case, I guess `haproxy-boshrelease` is okay, but it won't solve my particular issue with clients confusing `haproxy` job in `cf` with the `haproxy` BOSH release 😞

[2016-11-15 14:12] geofffranks commented on #30
I thought there was some stuff specific to app_ssh, but that's just generic tcp connection routing after all. The main CF-ness is similarly named properties, and descriptions in the job spec referencing "Routers".

[2016-11-15 14:18] geofffranks commented on #31
No CLA needed for the cloudfoundry-community repos. Feel free to submit a PR and we can review the changes

[2016-11-16 00:18] 7CHANHO commented on #31
Thank you!
I submit a PR #32.
Please review the change.

[2016-11-16 10:00] axelfauvel commented on #30
+1 for haproxy-boshrelease

[2016-11-16 14:39] geofffranks commented on #30
Looks like the haproxy-boshrelease's have it

[2016-11-16 22:26] geofffranks commented on #30
Renamed + released. I updated our CI environment, the genesis index, and requested an update on bosh.io.

[2016-11-16 22:26] #30 closed

[2016-11-28 15:42] geofffranks commented on #27
Released in v8.0.7. Thanks!

[2016-11-28 15:42] #27 closed

[2016-11-29 20:05] #16 closed

[2016-11-29 20:05] geofffranks commented on #16
Closing this since no progress has been made in over a year

[2016-11-30 13:45] YunSangJun opened #35 "What is the keepalive_timeout attribute for?"
What is the keepalive_timeout attribute for?

I can not find keepalived package and configuration file.

Do you have plan to develop keepalived feature?.

[2016-11-30 14:37] geofffranks commented on #35
It's used in https://github.com/cloudfoundry-community/haproxy-boshrelease/blob/master/jobs/haproxy/templates/haproxy.config.erb#L23

HAProxy documentation: https://cbonte.github.io/haproxy-dconv/configuration-1.6.html#4-timeout%20http-keep-alive

[2016-11-30 18:02] #31 closed

[2016-12-01 07:06] YunSangJun commented on #35
I was confused with keepalivedc.

Actually, i am using haproxy-boshrelease with keepalivedc to achieve high availability.
To automate this feature, need to add some settings to haproxy-boshrelease.

Do you have plan to develop this feature like keepalivedc?.

http://www.keepalived.org/
http://www.stratoscale.com/wp-content/uploads/HAproxy-architecture.png

[2016-12-01 08:26] gberche-orange commented on #35
Orange is preparing a PR for keep-alived support in haproxy-boshrelease. We're polishing the documentation and should submit the PR soon. Some more details at https://github.com/orange-cloudfoundry/cf-haproxy-boshrelease/pull/1

/CC @axelfauvel @poblin-orange

[2016-12-07 02:14] krutten opened #37 "Add support for init-addr from HAProxy 1.7.0"
# Issue

When using Consul to resolve to a published service, such as Vault, if the service isn't registered yet HAProxy fails to start with a "Failed to resolve address while parsing config" type message.

Vault in particular is problematic because when it restarts it seals itself and Consul no longer advertises the name until it is unsealed.  If Vault and Haproxy are deployed in the same deploym

[2016-12-07 02:14] krutten commented on #37
PR: https://github.com/cloudfoundry-community/haproxy-boshrelease/pull/38

[2016-12-16 00:59] jhunt opened #40 "Support haproxy stats socket, add socat package"
It would be nice, when troubleshooting haproxy issues, to be able to issue a `show errors` to the haproxy stats socket.

- The socket file (UNIX domain socket) should go in `/var/vcap/sys/run/haproxy/stats.sock`.
- Add the `socat` package to the BOSH release, and the `haproxy` job, for troubleshooting.

[2016-12-16 10:29] #35 closed

[2016-12-16 14:43] #40 closed

[2017-04-10 21:16] lcacciagioni opened #48 "Improve FORWARD SECRECY"
The creation of TLS session tickets is today supposing a big security risk, for that reason to improve Perfect Forward Secrecy is recommended to disable SSL session tickets. For that reason I'll recommend to add (Maybe as an alternative) the flag `no-tls-tickets` (Alongside the no-sslv3) in all the places where you have ssl configs.
You can find a simple explanation [here](https://timtaubert.de/bl

[2017-04-10 21:20] geofffranks commented on #48
@christopherclark Is it possible to disable the above bot integration, since we don't have a tracker project for this repo?

[2017-04-10 21:21] lcacciagioni opened #49 "HSTS Support"
I think it could be really good to improve the ssl security to force the [HSTS](https://www.owasp.org/index.php/HTTP_Strict_Transport_Security_Cheat_Sheet) header from haproxy which normally will be the place to do ssl offloading.
We can add this as an extra.

[2017-04-11 13:58] geofffranks commented on #48
@lcacciagioni I'm in favor of this, but probably won't be able to dedicate time to it for a little bit. If you need this sooner, feel free to submit a PR adding support for this (configurable, but defaulting to enabled would be awesome).

Thanks!

[2017-04-11 15:02] lcacciagioni commented on #48
Sure I'll take a look tonight and add it. BTW PR from fork or branch? Because I don't see any guidelines on how to contribute.

Thanks!

[2017-04-11 15:06] geofffranks commented on #48
Probably a fork, unless you're a member of the cloudfoundry-incubator org. You'll also need to sign the CloudFoundry Org's CLA, but there should be a bot for helping you out with that (if you haven't already), when you submit the PR.

[2017-04-11 15:06] geofffranks opened #50 "Custom Cipher suites"
Allow end-users to specify the cipher suites they want HAProxy to use, with a sane default, probably something like:

[code]

[2017-04-11 15:07] geofffranks opened #51 "Add docs on contributing guidelines"

[2017-04-11 17:25] mkb commented on #49
Agree 100% that HSTS is a good thing. Forcing HSTS will break some sites so better to make HSTS a configurable option.

There's are good arguments either way for defaulting to off vs on. So long as HSTS is configurable and visible either default is fine.

[2017-04-11 17:27] geofffranks commented on #49
@lcacciagioni Same story as #48, if you want to submit a PR :)

[2017-04-11 17:37] lcacciagioni commented on #50
There is a good helper that is been updated by the mozilla foundation [here](https://mozilla.github.io/server-side-tls/ssl-config-generator/). It can also be good to add it to the docs.

[2017-04-13 14:04] geofffranks commented on #50
So my eyes aren't working well. We have configurable ciphers, just bad defaults.

[2017-04-14 13:19] #50 closed

[2017-04-14 14:14] #49 closed

[2017-04-14 14:15] #48 closed

[2017-04-26 16:08] rkoster opened #55 "Add links support"
It would be nice if the haproxy-boshrelease would consume links [just like the haproxy from cf-release](https://github.com/cloudfoundry/cf-release/blob/master/jobs/haproxy/spec#L18-L25).

[2017-04-27 08:11] lcacciagioni commented on #55
@rkoster Is the ssh port hardcoded in [here](https://github.com/cloudfoundry/cf-release/blob/master/jobs/haproxy/templates/haproxy.conf.erb#L92)? Is that right?

[2017-04-27 14:19] geofffranks commented on #55
I'd like to keep this release cf-agnostic, since it's not always deployed in front of it. The equivalent of the router link should probably be something like `http_backend`, and consume the port to send backend requests to as well.

For the ssh-proxy, that typically goes in the tcp-backends section, though I'm not aware of any feature to have an arbitrary array of links being consumed to set up mu

[2017-05-15 12:42] Martin612 opened #57 "Error deploying haproxy v8.1.1"
Hello,

I want to deploy the haproxy-boshrelease in an openstack-environment.
First I set up bosh and uploaded the haproxy-boshrelease 8.1.1.
When I try to deploy I get the following error:

Error 100: Unable to render instance groups for deployment. Errors are:
   - Unable to render jobs for instance group 'haproxy'. Errors are:
     - Unable to render templates for job 'haproxy'. Errors are:

[2017-05-15 13:57] geofffranks commented on #57
I'm not seeing that error when I deploy v8.1.1. Also, those line numbers don't match up with what's on master + the 8.1.1 release, which is a little confusing.

Any chance you could send me your manifest?

[2017-05-15 19:38] geofffranks commented on #55
Closed via #56

[2017-05-15 19:38] #55 closed

[2017-05-18 14:58] Martin612 commented on #57
I attach the manifest, the error output and the haproxy.config.erb file from v8.1.1 release.

From my point of view this line numbers seems to match with the v8.1.1 release.

Did you need more information?

[haproxy_error.zip](https://github.com/cloudfoundry-incubator/haproxy-boshrelease/files/1011280/haproxy_error.zip)

[2017-05-18 15:26] geofffranks commented on #57
Your manifest works fine for me. Out of curiosity, what version of the BOSH director are you using? I wonder if the problem is related to the `-%>` syntax.

[2017-05-26 15:52] geofffranks commented on #57
@Martin612 are you still having this issue?

[2017-05-29 12:39] Martin612 commented on #57
I wasn't able to deploy the ha-proxy release on bosh(version: 259.0.0 cli: 1.3262.26.0).

After setting up a new bosh(version: 261.4 cli: 2.0.16) my manifest work with the ha-proxy release 8.1.1.
Therefore the error have to be related to the bosh version.

Thank you.

[2017-05-30 13:06] #57 closed

[2017-07-06 13:29] geofffranks opened #62 "Auto-detect CPU cores for SSL offloading across multiple processes?"
Currently this boshrelease supports manually specifying the number of processes you would like haproxy to spin up for utilizing more cores. However, as VM sizes change, it means you may need to manually adjust the `ha_proxy.threads` property to keep up with new core counts. This issue serves as a proposal to auto-detect CPU count,  If you're interested in this feature, please leave a comment.

The

[2017-08-17 18:51] shalako opened #69 "ssl_pem should take an array of objects"
Pivotal wants to offer operators a user experience for configuring multiple cert pairs for SNI that takes the cert chain and private key as separate fields for each element in the collection. Our tooling for generating manifests for this UX outputs an array of objects:

[code]

However the `ssl_pem` property in this release apparently only supports a string or an array of strings. We would like to

[2017-08-17 22:53] geofffranks commented on #69
I like the prospect of custom chains per certificate! However, I'd like to keep backwards compatibility for the older formats.

Sent from my iPhone

[2017-08-23 13:36] geofffranks commented on #69
Fixed in v8.4.0  by #71

[2017-08-23 13:36] #69 closed

[2017-08-23 13:37] #37 closed

[2017-08-23 13:58] #51 closed

[2017-08-29 21:58] ryanmoran opened #72 "Certs without a trailing `\n` will result in invalid concatenation"
If an operator configures their certs without a trailing newline character, then the certs will be incorrectly concatenated.

For example,

[code]
Will result in a rendered cert/key that looks like this:
[code]

This means operators must always make sure to include a trailing newline on their included certs.

It would be really awesome if folks didn't have to do that because the template was smart

[2017-08-29 22:35] geofffranks commented on #72
Agreed. Feel like submitting a PR?

[2017-08-30 00:30] #72 closed

[2017-09-13 21:10] ryanmoran opened #75 "Where does the ttar blob come from?"

[2017-09-18 13:17] geofffranks commented on #75
It's a custom script, that should probably be in src, rather than the blobs dir. I'll try to get that moved over soon

[2017-09-19 15:33] jhunt commented on #75
https://github.com/jhunt/ttar

[2017-09-19 21:16] kdykeman commented on #75
Any chance of adding a license declaration to that repo?

[2017-09-19 21:52] geofffranks commented on #75
Converted ttar into a submodule for haproxy for more clarity. @kdykeman can you open an issue on the official ttar repo for the license?

[2017-09-19 21:52] #75 closed

[2017-09-29 19:29] jhunt opened #81 "Why do all the logs for this show up in the `/var/vcap/sys/log/monit/` sub-directory?"
The `/var/vcap/sys/log/haproxy/` directory exists, but is empty.

[2017-10-02 13:51] jhunt commented on #81
Had a bad TLS certificate (malformed PEM) that was causing haproxy to choke, and couldn't find anything useful until we looked in the monit debug log.  Is it possible that start up messages go to stdout/stderr and that's not being handled properly (i.e. `>> $LOG_DIR/haproxy.log 2>&`)?

I'll try to get the monit debugging log some time later today, for evidence.

Also, it would be nice to print a m

[2017-10-02 14:31] jhunt commented on #81
Here's what we found in `/var/vcap/sys/log/monit/haproxy.err.log`:

[code]

As a user and an operator, I would like to see this error message in `/var/vcap/sys/log/haproxy/haproxy.log`, alongside a message like `haproxy logs most of its output to syslog; check /var/log/messages for details`

[2017-10-04 22:00] teancom opened #82 "Documentation on ha_proxy.client_cert_ignore_err is unclear/incomplete"
It should have more of a description of what it's looking for and what you can put there

[2017-10-04 22:06] #82 closed

[2017-10-06 21:52] shalako opened #84 "Blacklist domains"
Hi @geofffranks
Could you expose a property that list of domains for which HAProxy rejects requests (blacklist)?

Given a load balancer on the internet to which DNS resolves the CF app domain
And the operator does not want to ask the IT team to configure that LB to reject requests for the system domain, or to filter on host header
And the operator can't be sure that firewall rules would prevent Go

[2017-10-06 21:58] geofffranks commented on #84
Would ha_proxy.internal_only_domains and
ha_proxy.trusted_domain_cidrs solve this?

Sent from my iPhone

[2017-10-07 00:28] shalako commented on #84
Hi Geoff,

I think of those two properties as a whitelist. A blacklist would be a list of domains for which the proxy would reject requests.

The two existing properties fulfill the use case of accepting requests for specified domains only if the origin is trusted.

We want to reject requests for a specified list of domains.

Thanks!

[2017-10-07 00:53] geofffranks commented on #84
Anything in the list of internal domains is rejected unless the request was originating from one of the trusted cidr blocks. It's there specifically for blocking internet traffic to internal domains. If you don't want anything getting through to that domain, you could use internal only domains with no trusted cidrs.

How are the domains you're trying to blacklist being reached? A separate set of l

[2017-10-13 12:20] jhunt commented on #81
Is this fix something that this project is interested in pursuing?

[2017-10-13 12:21] geofffranks commented on #81
Absolutely

[2017-10-25 21:39] acrmp opened #85 "New release?"
There are a number of recent changes on `master` that it would be great to have in a released version. In particular we'd love to see the mutual ssl changes in a release.

Would you be able to cut a new release soon?

Thanks,

Andrew.

[2017-10-26 17:05] geofffranks commented on #85
I'm hoping to have a new CI environment up in the next few days and should be able to get the new stuff released soon

Sent from my iPhone

[2017-10-29 21:23] geofffranks commented on #85
https://github.com/cloudfoundry-incubator/haproxy-boshrelease/releases/tag/v8.4.2 is out finally

[2017-10-29 21:23] #85 closed

[2017-10-31 22:14] geofffranks opened #86 "Forward X-Forwarded-Client-Cert only if mutual TLS was successful"
We should force-omit the X-Forwarded-Client-Cert header from requests if the request did not come in via a mutual TLS connection so we can ensure downstream applications that the header came from a trusted source.

Currently the header is only added if available, but if a client provides it without using mtls, it would likely still go through to the backend.

[2017-10-31 23:51] shalako commented on #86
@gfranks FWIW, we took the approach of keeping existing behavior (passthrough any header), and offered a config option to lock this down when client connection was mtls. It requires a property to support a string instead of a boolean.
https://github.com/cloudfoundry-incubator/routing-release/blob/develop/jobs/gorouter/spec#L115-L125

More importantly, I'd recommend sanitizing the header when `clie

[2018-02-02 11:34] poblin-orange opened #90 "keepalived job. interface auto is OK, cant specify ethx"
8.6.0 bosh release does not seem to work with interface specified (ie: auto mode is OK, ko when specifying interface eth0). This could be a blocker with multi-NIC instances.

In that case, the file ` /var/vcap/jobs/keepalived/config/keepalived.config ` file is not created.

[2018-02-02 20:40] poblin-orange commented on #90
related PR https://github.com/cloudfoundry-incubator/haproxy-boshrelease/pull/92

[2018-02-14 03:03] #90 closed

[2018-02-20 18:58] hev opened #93 "Emitting (some) log events to Loggregator"
We (Loggregator team) have feedback about use cases where it would be helpful to emit and tag logs with appropriate information related to applications. This would closer mimic logs emitted to Loggregator from Cloud Controller, Diego and Go Router and allow app developers to better observe their systems.

We are wondering about the feasibility of emitting these logs and what we could do to offer t

[2018-02-24 18:17] geofffranks commented on #93
For metrics, perhaps add a utility that looks in at the local stats socket file(s)  and report those metrics back into metron? (https://github.com/cloudfoundry-incubator/haproxy-boshrelease/blob/master/jobs/haproxy/templates/haproxy.config.erb#L15-L21)

For log events, haproxy only supports syslog streams, so that would probably also need syslog->metron parser that can translate the haproxy access

[2018-03-11 17:46] geofffranks opened #95 "Mutual TLS bugs with 4443, and accept-proxy"
Mutual TLS settings don't apply to the https 4443 frontend, but they should. Additionally, setting accept-proxy results in mutual TLS settings not being applied.  We should simplify the configs so it's more difficult to miss updating the TLS settings for various frontends.

[2018-03-17 20:49] #95 closed

[2018-03-18 14:36] geofffranks opened #98 "Consider a major refactoring release"
Consider a release with breaking changes to simplify the manifest + configuration.

Some ideas:
- drop `ha_proxy` and `keepalived` property prefixes
- Replace ssl_pem and global mutual-tls settings with crt_list
- allow opt-in proxy protocol settings for each frontend independently, as well as all at once
- combine internal-only-domains/trusted cidrs with whitelist/blacklist IPs into an ordered li

[2018-05-18 14:34] dueckminor opened #99 "crt_list entries without a "verify: none" have unwanted side effects"
If you add an entry to the crt_list which doesn't specify `verify: none`, a `verify optional` will be added to the global tls_options.

This has the negative side effect that mutual TLS gets enabled for all server names where it's not explicitly disabled.

The check in line 52 of haproxy.config.erb should be changed from
`crt_entry["verify"] != "none"`
to
`crt_entry["verify"] == "required" || crt_

[2018-05-29 16:05] Fn0rd1 opened #100 "How to change the property "maxconn" in haproxy.yml"
I have not yet found a way to change the '**maxcon**' property without building a new release. Is there another way to set the property  '**maxcon**' in the haproxy.yml (or elsewhere) without modifying haproxy.config.erb and then building a release?

I understood that at the moment only these properties in the haproxy.yml are configurable:
https://bosh.cloudfoundry.org/jobs/haproxy?source=github.c

[2018-06-12 12:51] pritishmishra opened #101 "Keepalived License Issue"
Hi guys

I am part of Service-Fabrik Broker team. It is also a CloudFoundry-incubated project.
Currently, we are evaluating the usage of Keepalived in our project, which is also a CloudFoundry-incubated project.

We had concern regarding licensing. Our project has an Apache License 2.0, quite similar to haproxy-boshrelease. However, since, Keepalived uses a GNU General Public License v2.0, we were

[2018-06-12 21:16] kamath-prasad commented on #101
@axelfauvel : can you please let us know ?

[2018-06-13 06:45] axelfauvel commented on #101
Hey guys,

AFAIK, GNU GPL authorizes execution, modification and redistribution of source code without copyright whereas Apache License forces the contributor to preserve the copyright.
From what I can read, GNU is a more permissive licence than Apache so it shouldn't be a problem to use GNU GPL licensed program in an Apache license project.

I'm not a legal consultant though, just a wikipedia rea

[2018-06-13 10:08] pritishmishra commented on #101
Thanks @axelfauvel for your feedback!

[2018-06-13 10:08] #101 closed

[2018-06-20 09:00] Alexvianet opened #102 "How to redirect properly from one port to other"
I have:
[code]

how to configure redirect from
80 port to 443 and do not rewrite 8200 port

[2018-06-20 14:52] geofffranks commented on #102
I think you will want to remove disable_http, as it turns off the :80 listener, and enable https_redirect_all. Haven’t tested this with tcp backends, but I think it should be ok
Sent from my iPhone

[2018-06-20 15:12] Alexvianet commented on #102
Should it will redirect 8200 also to 443?

On Wed, Jun 20, 2018, 17:53 Geoff Franks <notifications@github.com> wrote:

[2018-06-20 17:30] geofffranks commented on #102
Nope, that would only do 80-> 443. Since 8200 is a tcp frontend/backend, haproxy can’t speak http back to the client to redirect

Sent from my iPhone

[2018-06-21 21:16] #102 closed

[2018-06-21 21:17] Alexvianet commented on #102
thanks U are right it's works

[2018-06-23 17:51] Alexvianet opened #103 "How to configure custom http fronted and backend"
I need such configuration, how to handle it with current manifest ?

[code]

[2018-07-02 10:59] qxing3 opened #105 "haproxy error while enabling cloud foundry tcp routing"
I add the following configuration for haproxy, and got stuck at updating haproxy instance
[code]

Besides, there are no haproxy related logs under `/var/vcap/sys/log/haproxy`.

[2018-07-17 05:40] qxing3 commented on #105
I found the following errors in `/var/vcap/sys/log/monit/haproxy.err.log`
[code]

[2018-07-31 13:58] Onke opened #110 "Blobs unavailable?"
Hi,

since today we receive errors like
[code]
when trying to deploy the haproxy-boshrelease. Seems like a problem with the bucket?
When downloading the tgz file via GitHub release section or with wget and uploading it with `bosh upload-release`, everything works fine.
Can you please check this?

BR
Onke

[2018-07-31 14:59] geofffranks commented on #110
There is an issue with the AWS account that the s3 bucket for this boshrelease is associated with. It should be resolved in a day or two (hopefully less).

[2018-08-02 13:14] jgf commented on #110
Appears to be fixed 👍

[2018-08-08 11:19] mathias-ewald opened #112 "Keepalived should provide VIP"
I believe the keepalived job should provide the VIP so that other job can link to the load balancer.

[2018-08-10 11:11] geofffranks commented on #86
The gorouter behaviors for handling XFCC are now available in haproxy v9.0.0. haproxy's default behavior is the `sanitize_set` option.

[2018-08-10 11:11] #86 closed

[2018-08-23 00:18] ljfranklin opened #116 "Release v9.2.0 fails when TCP Router instance exists"
Getting the following error when deploying HAProxy with a TCP Router deployed as well:

[code]

The logs on the VM say:

[code]

Looks like [this line](https://github.com/cloudfoundry-incubator/haproxy-boshrelease/blame/master/jobs/haproxy/templates/haproxy.config.erb#L491) says `httpcheck` when it should say `httpchk`.

[2018-08-23 00:42] teancom commented on #116
Actually, it looks like that whole line might be wrong. I'm not sure we meant to hard-code "/health" as the URI. I'll talk to Geoff tomorrow and hopefully get this sorted out. Thanks for the report!

[2018-08-24 12:33] geofffranks commented on #116
This issue is fixed in v9.2.1

[2018-08-24 12:33] #116 closed

[2018-08-24 12:34] geofffranks commented on #116
This issue is fixed in v9.2.1

[2018-09-07 06:59] poblin-orange opened #119 "send-proxy for tcp backends"
We are using haproxy bosh release tcp loadbalancing feature. Out of the box, the originating ip is lost, the backend http server only sees haproxy as originating ip.

To solve this, haproxy has a send-proxy clause on the tcp backend members, propagating the originating ip.

[2018-10-04 01:36] shalako opened #120 "multiple protected domain rules"
Currently this release supports a list of domains, and a list of cidrs. Presumably all specified domains are protected, and accessible from all specified cidrs.

https://github.com/cloudfoundry-incubator/haproxy-boshrelease/blob/master/jobs/haproxy/spec#L58-L63

I have a customer who wants the following rules:
1. `public.com` should be accessible only from <cidr for WAF>
2. `private.com` should be

[2018-10-04 01:48] geofffranks commented on #120
Doesn’t look like this is currently possible, but it sounds like adding negation support to the acls defined in ha_proxy.http_request_deny_conditions might solve it in a more general-purpose way. Does that seem accurate?

Sent from my iPhone

[2018-10-05 04:39] rosenhouse opened #121 "Default Keepalive (idle) timeout is too short"
Currently it [is 500ms](https://github.com/cloudfoundry-incubator/haproxy-boshrelease/blob/66eda426754d29d6f8847d52d1a5b844d0503cc2/jobs/haproxy/spec#L195-L197).

This is much shorter than the default idle-timeout in common HTTP clients.  For example, I believe the default Spring HTTP client times out idle connections after 5 seconds.

In this case, the client may attempt to re-use a connection wh

[2018-10-21 19:07] geofffranks commented on #119
Is this just on tcp backends? Is this using the CF tcp-router's link for the haproxy frontend/backend, or an explicit configuration in the haproxy properties?

Happy to receive a PR on this, as I don't have an environment that makes use of all these features for testing.

[2018-10-22 13:36] #121 closed

[2018-10-22 15:50] #112 closed

[2018-10-22 15:57] #100 closed

[2018-10-22 15:58] #99 closed

[2018-10-25 11:16] Alexvianet opened #127 "make backend_http_health_port not required"
<%- health_check_options = "port " + p("ha_proxy.backend_http_health_port").to_s -%>
broke my httpchk
[code]

if i remove health_check_options it's works:

[code]

[2018-10-25 11:19] Alexvianet opened #128 "How to move haproxy logs to haproxy directory"
we have all haproxy logs in monit/ directory:

[code]
how to store it correctly?

[2018-10-25 13:47] geofffranks commented on #128
haproxy logs via syslog currently, so anything other than startup logs are going to be in /var/log/messages (or wherever the local syslog config is sending them). There's a commit on master that hasn't been released yet which converts haproxy over to starting via BPM, which moves its startup logs into /var/log/haproxy. Hopefully I'll have some time tomorrow to test + release it

[2018-10-25 13:47] #128 closed

[2018-10-25 13:51] geofffranks commented on #81
Converted haproxy to start via BPM, which moves its startup logs into /var/vcap/sys/log/haproxy, and should resolve this. Should be released later this week

[2018-10-25 13:51] #81 closed

[2018-11-21 15:17] poblin-orange commented on #119
@geofffranks  yes only for tcp backend, when using haproxy bosh release as level 2 relay (we let downstream servers handle ssl offload, but we need to keep the originating ip)

[2019-01-07 13:18] MirkoNikolai opened #130 "Please upgrade to haproxy 1.8.16"
The 9.30 release uses version 1.8.14 which has an CVE (2018-20103)
For further information read https://nvd.nist.gov/vuln/detail/CVE-2018-20103

[2019-01-07 14:46] #130 closed

[2019-01-07 14:48] geofffranks commented on #130
Latest commit on master uses 1.8.16, will try to get a final release out soon with this update

[2019-01-14 19:14] geofffranks commented on #127
@Alexvianet Is this error happening because haproxy is using a http health check by default now, or because the health check is defaulting to a different port than what your backend was listening on?

e.g. backend-port 8200, health-check port defaulting to 8080, or does any default http health check cause issues?

[2019-01-14 20:22] Alexvianet commented on #127
i use raw_config now, helps

[2019-01-14 20:22] #127 closed

[2019-01-14 21:37] geofffranks commented on #130
v9.4.0 has 1.8.17 of haproxy

[2019-05-08 15:29] rodolfo2488 opened #136 "Add option to the proxy to return HTTP/1.1 responses instead of HTTP/1.0"
Hi Team!

I am dealing with an issue that HAProxy is returning Error 503 Unavailable responses as HTTP/1.0

I wonder if we could add a section for `errorfile` in the config to send custom error responses so we can specify the version of the response. [Docs](https://cbonte.github.io/haproxy-dconv/1.7/configuration.html#4-errorfile)

The main reason to upgrade to HTTP/1.1 is the way `keep-alive` con

[2019-05-08 16:46] geofffranks commented on #136
Sure, feel free to submit a PR :)

[2019-05-08 17:03] rodolfo2488 commented on #136
I will address design discussions here: https://github.com/cloudfoundry-incubator/haproxy-boshrelease/pull/137

I thought I signed the ACL but it seems like I did not. I will do that too! sorry about it

[2019-05-22 15:37] domdom82 opened #140 "haproxy_wrapper script has syntax errors"
The wrapper script for BPM has the following errors:

- Bash syntax error in line 13:
  `/var/vcap/jobs/haproxy/bin/haproxy_wrapper: line 13: -f: command not found`
- Script will exit (`set -e`) if pid can no longer be found (pkill will exit 1)

Opened PR #139 to fix this.

[2019-05-24 15:22] geofffranks commented on #136
Fixed vai #137

[2019-05-24 15:22] #136 closed

[2019-05-24 15:24] geofffranks commented on #84
Seems like this can be handled now via the `ha_proxy.http_deny_request` property

[2019-05-24 15:24] #84 closed

[2019-05-24 15:24] #98 closed

[2019-05-24 15:24] #62 closed

[2019-05-24 15:24] geofffranks commented on #140
Fixed via #139

[2019-05-24 15:24] #140 closed

[2019-05-24 15:25] geofffranks commented on #120
Negation support was recently added to `ha_proxy.http_request_deny_conditions`, which should allow these behaviors now

[2019-05-24 15:25] #120 closed

[2019-05-24 15:26] geofffranks commented on #105
Those errors seem to indicate the port is either already in use, or haproxy is not privileged enough to bind to those ports.

Given the switch to BPM, and the old version involved, closing this, but if it's still an issue, feel free to re-open

[2019-05-24 15:26] #105 closed

[2019-05-24 15:27] geofffranks commented on #119
@poblin-orange I vaguely remember someone at orange submitting a PR for this. Is this still an issue?

[2019-05-24 15:28] geofffranks commented on #93
Closing due to inactivity

[2019-05-24 15:28] #93 closed

[2019-05-29 08:58] gdenn commented on #103
hi Alexvianet,

there is no need to create another frontend for this. HAProxy can forward to multiple backends from a single frontend via ACL rules and use different SSL certs through SNI.

Define your backend with `ha_proxy.routed_backend_servers` (@checkout https://github.com/cloudfoundry-incubator/haproxy-boshrelease/blob/master/jobs/haproxy/templates/haproxy.config.erb#L255-L259). Use `ha_prox

[2019-05-29 08:59] Alexvianet commented on #103
For now we use raw config and it's helpd

[2019-05-29 08:59] #103 closed

[2019-05-29 13:30] gdenn opened #142 "specify bpm version, sha1, url"
Hi,

in the manifest is currently bpm with latest referenced which creates more work on the operators side because he needs to upload the latest release. Problems that occur might also be difficult to reproduce since bpm versions might differ.

I would suggest to set the bpm version specific in the manifest. We tested bpm v1.1.0 on our system.

best,
D

[2019-07-02 07:20] pc-jedi opened #145 "CVE in HAPorxy 1.8.17"
There are 2 known CVEs in HAProxy 1.8.17.
https://security-tracker.debian.org/tracker/CVE-2018-20615
https://security-tracker.debian.org/tracker/CVE-2019-11323

Is is possible to upgrade to 1.8.20 or even further?

[2019-07-02 22:52] geofffranks commented on #145
Resolved in 9.6.1

[2019-07-02 22:52] #145 closed

[2019-08-14 08:23] msahihi opened #149 "Cannot configure length of log message"
Hi,
I have a Syslog server which can receive large logs up to 2K but logs coming from HAProxy cut when they are bigger than 1K. As the [default value ](https://cbonte.github.io/haproxy-dconv/1.8/configuration.html#log)for log length in HAProxy is 1024 I should be able to configure that.
https://github.com/cloudfoundry-incubator/haproxy-boshrelease/blob/788a86a1bc0508d7805016dac3da66567912d8ab/jobs

[2019-09-19 15:25] jhunt opened #153 "hatop pretty please?"
Hi,

We use this BOSH release in the Genesis Cloud Foundry Kit for folks who don't have access to an IaaS-provided load balancer (hardware, software, or otherwise), and have often found it helpful to see how the backends are doing via hatop (https://github.com/feurix/hatop)

We currently do this ad hoc by SSHing into the haproxy VMs, and doing something akin to this (we only run Ubuntu stemcells):

[2019-09-19 16:50] geofffranks commented on #153
Sure, an optional job sounds great for that. @christopherclark is there anything special that needs to be done to add hatop (looks to be GPLv3) to this release?

[2019-09-20 04:29] christopherclark commented on #153
@geofffranks @jhunt

 Let me confer, briefly, and get back to you next week. Apache 2 and GPLv3 have a [compatibility issue](https://www.apache.org/licenses/GPL-compatibility.html), but I don't **think** that issue would be problematic for bosh releases.

This gives me some pause though:
"This licensing incompatibility applies only when some Apache project software becomes a derivative work of som

[2019-09-24 19:00] christopherclark commented on #153
Okay - this is fine. As a policy we do not limit licensing for bosh releases as we're only providing a method for deploying and managing the code. Thanks for checking! Feel free to proceed with this @geofffranks

[2019-10-03 23:06] #153 closed

[2019-10-04 00:37] jhunt commented on #153
Woot woot thanks!

[2019-11-06 10:52] stefanlay opened #157 "Haproxy startup fails because stats.sock is a directory"
In some rare cases we observed that the file `/var/vcap/sys/run/haproxy/stats.sock` is a directory rather than a socket file:
[code]

In that case startup of the haproxy monit process failed in the [haproxy_wrapper](https://github.com/cloudfoundry-incubator/haproxy-boshrelease/blob/c8c2e1fe9adbad4cd485243bfa0baf83f2e2b7cc/jobs/haproxy/templates/haproxy_wrapper#L16)

This results in the following e

[2019-11-14 08:57] #157 closed

[2019-11-14 08:58] stefanlay commented on #157
We found out that '/var/vcap/sys/run/haproxy/stats.sock' was created as a directory in another bosh-release we deploy to the same vm.

[2020-02-17 14:33] #149 closed

[2020-02-20 15:34] domdom82 opened #160 "hatop no longer works with python3 stemcells"
Latest stemcells (xenial-go_agent/621.55) use python3 only and have removed python 2.7.x

This breaks hatop until https://github.com/feurix/hatop/pull/7 is merged and pulled into this repo.

I am not really sure if hatop is still alive, last commit was in 2015...

We should either fork it or remove it because atm it is useless.

[2020-02-29 15:44] geofffranks commented on #160
@jhunt any desire to fork + maintain hatop around given the lack of python 2.7 in new stemcells, or can we just remove it from the boshrelease?

[2020-02-29 19:06] jhunt commented on #160
Yeah, I'll fork it and maintain it; I depend on it far too much (outside of even this BOSH release) to let it die on the vine.

I've forked it over to https://github.com/jhunt/hatop, and will merge in the Python3 support and take it for a spin.

[2020-03-11 16:21] csterwa opened #162 "Enable configuration of mTLS support"
`X-Forwarded-Client-Cert` headers are not injected/forwarded by HAProxy when a mTLS connection is established. HAProxy should behave as goRouter does and inject the client cert into an `X-Forwarded-Client-Cert` header given it has been configured to do so in the BOSH manifest.

[2020-03-23 12:52] domdom82 commented on #162
Not true. HAproxy will forward the client cert in DER binary format.
However, since HAproxy usually terminates TLS, the client cert CA needs to be configured in the crt_list or client_ca_file property. See https://github.com/cloudfoundry-incubator/haproxy-boshrelease/blob/master/jobs/haproxy/spec#L97

HAproxy will validate the client cert against the client CA and if the cert is valid, it will be

[2020-03-31 14:23] jebreuer opened #164 "v9.8.0 does not contain haproxy v1.9.11"
While using v9.8.0 (`Latest commit 514038d on 29 Feb`) I noticed that I could not use features of haproxy v1.9.11.

I bosh ssh'd into a deployed instance and executed:
[code]
It shows that v1.8.20 is bundled in the v9.8.0 BOSHrelease.

However, when manually creating a dev release and using that one (`bosh create-release && bosh upload-release && ./deploy`) it shows:
[code]
Here it answers with th

[2020-04-04 14:37] geofffranks commented on #162
Is this related to #163?

[2020-04-04 14:54] geofffranks commented on #164
There has not been a final released published since 9.8.0, which was released prior to updating the blobs. Should be one soon though.

[2020-04-04 14:54] #164 closed

[2020-04-04 16:15] geofffranks commented on #142
Going to set 1.1.8 in the upcoming release as that's what's being tested against for the upcoming release.

[2020-04-04 16:15] #142 closed

[2020-04-05 19:49] domdom82 commented on #162
I don't think so. #163 is fixing an edge-case where the X-Forwarded-Client-Cert is really big. This issue complains about not being able to forward the cert at all (which is not the case).
@csterwa Have you tried to configure your HAproxy as described above? It should work.

[2020-07-10 07:17] akop opened #167 "keepalived: VIP gets inacccessible after a network issue"
Hi,

we are using HAProxy bosh release 9.8.0 with keepalived job.

After a network issue the VIP got inaccessible.

The VIP moves to a backup node and after the network issue it releases it.
But the master doesn't know that and thinks he has the VIP still in use.

To solve this issue we have to restart keepalived job on master.

This topic seems to describe the same issue: https://serverfault.com/

[2020-10-07 18:20] leema2 opened #168 "Issue with haproxy log rotation"
With the recent changes to default logging behavior resulting in haproxy logs being written to /var/vcap/sys/log/haproxy, rotation of logs using logrotate does not appear to be working correctly.

Instead of being truncated to zero length, the haproxy.stdout.log file grows indefinitely, with most of the file consisting of null characters. This may be a known issue when using logrotate with copytru

[2020-11-02 15:04] domdom82 opened #169 "Bump Haproxy and Lua due to several critical CVEs"
Several CVEs against HAproxy and Lua have surfaced in one of our internal code scans and the current HAproxy BOSH release is vulnerable.

Here is a list of the CVEs sorted by score:

|CVE |Criticality|Vulnerable Version| Fixed Version|
|-----|---------|-------------------|--------------|
|[CVE-2019-19330](https://nvd.nist.gov/vuln/detail/CVE-2019-19330)| 9.8 CRITICAL| HAproxy < 2.0.10| HAproxy 2.0

[2020-11-05 14:20] #169 closed

[2020-11-17 18:04] #119 closed

[2020-11-23 16:24] ogrand opened #172 "timeout retry and resolve_retries in resolver section"
In my haproxy configuration, I use dns resolver on legacy servers and I need to set 2 properties `timeout retry` and `resolve_retries` to manage these dns servers.
It should be very usefull to have these properties in resolver section (like `hold valid`).

[2020-11-24 13:09] domdom82 commented on #172
hi @ogrand can you add a little more detail on what you would like to see implemented exactly? do you want to add two more properties [here](https://github.com/cloudfoundry-incubator/haproxy-boshrelease/blob/master/jobs/haproxy/templates/haproxy.config.erb#L201)?

[2020-11-24 14:51] ogrand commented on #172
hi @domdom82, my need is to define 2 haproxy resolvers properties `timeout retry` and `resolve_retries` as following

**jobs/haproxy/templates/haproxy.config.erb**
[code]

**spec/haproxy_templates_spec.rb**
[code]
**jobs/haproxy/spec**
[code]
I can try to complete my initial PR https://github.com/cloudfoundry-incubator/haproxy-boshrelease/pull/171 if you want, but I don't want to make conflicts fo

[2020-11-26 08:12] domdom82 commented on #172
hi @ogrand that makes sense to me in a new PR. I have merged #171  as it covered all the fixes needed. Please go ahead and open a new PR. I will review and merge.

[2020-12-02 09:45] #172 closed

[2021-04-06 15:06] #160 closed

[2021-04-09 17:47] patsys opened #184 "check port for tcp_backend"
This is a feature request.
I need to check a other port by an tcp backend, I have add a http-check with the ha_proxy.tcp_backend_config .

Use Case:
https://github.com/zalando/patroni/blob/master/haproxy.cfg

The postiton it must added is https://github.com/cloudfoundry-incubator/haproxy-boshrelease/blob/master/jobs/haproxy/templates/haproxy.config.erb#L615

[2021-04-12 14:55] domdom82 commented on #184
hi @patsys I understand that you want to be able to specify different backend ports per IP, essentially because you are running two backends on one IP using localhost. This will be hard to do without a breaking change because existing deployments require the "IP-only" structure described in https://github.com/cloudfoundry-incubator/haproxy-boshrelease/blob/master/jobs/haproxy/spec#L351

Question:

[2021-04-12 15:13] patsys commented on #184
Hello @domdom82  this was only an example why I need to specify a other port for healt check with http. I have to vms not localhost as backend use the same port 8008, the rest of then config ist the same.

[2021-04-12 15:25] patsys commented on #184
my haproxy properties look like this
[code]

[2021-04-14 06:56] domdom82 commented on #184
Ah I see. So instead of this
[code]

you want something like this

[code]

so a custom health port for the tcp backend?

[2021-04-14 07:47] patsys commented on #184
Yes. It can be more optional look like this the backend_ssl that check port only exist when backend_health_port is set.

[2021-04-16 07:18] domdom82 opened #185 "test for webhool"
close asap

[2021-04-22 10:46] #185 closed

[2021-04-22 13:24] stefanlay commented on #185
@domdom82 What is the finding? Are there Hooligans on the web? ;-)

[2021-04-26 15:13] domdom82 commented on #184
hi @patsys I wrote a PR to add the feature. Can you [check](#186 ) it out and see if this is what you need?

[2021-04-27 13:40] #184 closed

[2021-05-11 15:39] plowin commented on #162
Closing after 1 year without feedback.

[2021-06-07 09:04] peterellisjones opened #195 "Initial deployment succeeds when `enable_health_check_http: true` even when there are no healthy backends"
### Background:
`enable_health_check_http: true` Enables the HAProxy health check endpoint which reports the health of the backends. It also adds a monit `check host` service check which checks this health endpoint and causes BOSH to report the deployment as failing when HAProxy has no healthy backends.

### Expected behaviour:
When deploying HAProxy with `enable_health_check_http: true` and there

[2021-06-10 12:09] #195 closed

[2021-06-18 10:55] domdom82 opened #212 "bump stemcell to bionic"
the xenial stemcell is deprecated and receives no more updates.

1. change pipeline to use bionic instead of xenial stemcell
2. test pipeline
3. profit

[2021-06-22 12:17] domdom82 opened #215 "bypass acceptance tests for release notes"
- With the addition of acceptance tests, the build time got bumped significantly higher. (> 20m)
- Acceptance tests are expensive and only make sense if there are changes to test.
- To make a new release, we need to add release_notes.md
- CI should skip acceptance tests if the PR contains **only** release_notes.md (maybe also README.md changes)
- CI should still run tests if the PR contains other

[2021-06-25 14:51] domdom82 opened #217 "keepalived: bump to newer version"
existing version is outdated. try to bump to latest. As of this writing, the latest version is 2.1.0

Get it from https://www.keepalived.org/

[2021-07-09 12:32] domdom82 opened #226 "move pr-validation to github-pr resource type"
We are currently using a deprecated resource type `pull-request` which is no longer supported.
It also creates problems in triggering on a passed previous `pull-request` job.

Let's switch to the supported `github-pr` resource type:

https://github.com/telia-oss/github-pr-resource

[2021-07-09 13:12] #226 closed

[2021-07-10 06:50] #212 closed

[2021-07-12 09:57] domdom82 commented on #167
Related to #217

[2021-07-14 10:10] domdom82 commented on #217
Fixed in #229

[2021-07-14 10:10] #217 closed

[2021-07-14 11:02] domdom82 commented on #167
hi @akop we just bumped keepalived to v2.2.2 - can you confirm the issue still exists in this version of keepalived? if so, we can provide a PR to fix it.

[2021-07-14 12:20] akop commented on #167
Hi @domdom82 I think since half of a year or even longer the issue didn't occurred again and I have no idea how to reproduce it. I guess it was something with OpenStack and DHCP. The stemcell had the same machine id for every VM so OpenStack DHCP was not extending the DHCP lease because it got asked from multiple VMs with the same machine id.
So after 10min the host was losing the IP and then it w

[2021-07-21 09:54] domdom82 commented on #167
Thanks @akop . We've just cut a new release with keepalived bumped to v2.2.2 so my suggestion would be for you to consume the new release and see if the problems reappear. I will close the issue for now, feel free to re-open if needed.

[2021-07-21 09:54] #167 closed

[2021-09-10 17:42] anEXPer commented on #168
This is definitely a problem!
Fortunately, there is a workaround.
Unfortunately, it is not documented or indicated in the spec,
which is something I'd like to see fixed.

You can restore the previous behavior by setting `log_format: rfc3164`.

[2021-10-07 00:26] Gerg opened #259 "Enabling HTTP/2 Can Break WebSocket Connections to Backends"
Related Issue: https://github.com/cloudfoundry/routing-release/issues/230

## Root Issue

When HTTP/2 is enabled, HAProxy will attempt to bootstrap WebSocket connections via HTTP/2 as defined in [RFC 8441](https://datatracker.ietf.org/doc/html/rfc8441).

Since not all backends implement RFC 8441, this can break WebSocket requests that would otherwise work with HTTP/1.1. For example, Golang's HTTP

[2021-10-08 15:52] 46bit commented on #259
Thanks @Gerg. I'm working on shipping this in #261

[2021-11-05 08:59] peterellisjones commented on #259
Hi @Gerg we fixed this using your suggested solution in [11.6.0](https://github.com/cloudfoundry/haproxy-boshrelease/releases/tag/v11.6.0)

[2021-11-05 08:59] #259 closed

[2022-04-04 15:34] sandeepsamsani opened #283 "[ Question ] Is there any impact of Spring4Shell on HAproxy on BOSH release"
It's been a long time since the Day0 exploit has been raised and various questions are arising regarding different environments. My question over here is "Does the HAproxy bosh release and HAproxy CF release got impacted by the vulnerability ?".

If "Yes". Are there any mitigation plans available....??

[2022-04-04 20:58] mariash opened #284 "HAProxy leaves null bytes in the log file after log rotation"
When using default syslog_server value as `stdout` we are seeing that HAProxy log file `haproxy.stdout.log` keeps growing even after logs are rotated and there are null bytes at the beginning of the file.

To reproduce:

1. Generate some logs, e.g. send HTTP requests to the deployed app
2. On HAProxy VM rotate logs: `logrotate -f -v /etc/logrotate.conf`
3. See that HAProxy log is 0 KB.
4. Generate

[2022-04-05 06:49] maxmoehl commented on #283
This vulnerability is part of the [Spring Framework](https://en.wikipedia.org/wiki/Spring_Framework). We do not use the Spring Framework in the HAProxy boshrelease and are therefore not vulnerable.

[2022-04-05 06:49] #283 closed

[2022-04-05 09:48] maxmoehl commented on #284
Thanks for bringing this to our attention! I reproduced this issue with a minimal docker-compose setup and found out that the issue is not related to haproxy. The issue is that the redirection must happen with the `O_APPEND` flag (see also [this question](https://serverfault.com/questions/510469/null-bytes-in-a-file-created-by-2-rotated-with-logrotate)), so instead of doing `haproxy > stdout.log`

[2022-04-19 16:17] domdom82 commented on #284
I've merged #285 as an intermediate fix to unblock this issue until we find a more elegant (correct?) solution. @maxmoehl Let's aim for a new release this week.

[2022-04-19 16:17] #284 closed

[2022-04-26 08:14] domdom82 commented on #168
hi @leema2 we recently cut a new release that fixes a similar issue (see #284 ). So, you might want to try the new release and see if it fixes your problem, too. I figure it could be a dup.

[2022-04-26 12:27] leema2 commented on #168
Yes this is a dup of #284 ... thx @domdom82

[2022-06-28 09:29] maxmoehl opened #294 "Align release versions for the release and the contained files"
The releases are tagged as `v1.2.3` but the file names omit the leading `v` which makes automated handling of the files a bit cumbersome. Other releases omit the `v` entirely.

We should at least consistently have the `v` or not, probably the best way would be to follow the pattern other releases use.

[2022-07-29 07:10] peanball commented on #215
We could add `[no-ci]` or some similar text to release note commits, which would not run the CI task, or rather run an abbreviated task that skips CI and marks the step successful.

[2022-09-16 09:45] domdom82 opened #327 "Autobumper should also generate "upgrades" release notes section"
The autobumper currently generates a PR that bumps the packaged components.

However, in the [release notes template](https://github.com/cloudfoundry/haproxy-boshrelease/blob/master/ci/release_notes_template.md) we have a section "Upgrades" with a template string
"component has been upgraded from v1.0.0 to v1.2.3".

- Since versions are getting bumped automatically now, the autobumper should also

[2022-10-17 07:16] julweber opened #332 "Compilation error using ubuntu jammy stemcell (v1.18)"
Dear haproxy team,

we are getting a compilation error message using the latest jammy stemcell.

Here is the output:

[code]

As CF-release is switching to the jammy stemcell and we have some haproxy jobs colocated on our cf routers it would be nice to get this to work, so we can switch the deployment to jammy.
I hope you can give us some feedback on this. Thanks in advance.

Kind regards,
Julian

[2022-10-18 09:51] domdom82 commented on #332
Hi @julweber
[code]

looks like you are not compiling HAproxy 2.6.6 like this BOSH release does. I don't think HAproxy 2.4.4 is compatible with OpenSSL 3.0 that comes with jammy.

The CI we are running on this repository [uses jammy from BOSH.io](https://github.com/cloudfoundry/haproxy-boshrelease/blob/master/ci/pipeline.yml#L469) to compile and deploy HAproxy without issues.

[2022-10-19 06:07] julweber commented on #332
@domdom82 Thanks for checking.

I also realized that we were using the old release from cloudfoundry-community.
I will test with the latest version and close this ticket for now.

Thanks for replying so fast and sorry for the inconvenience.

Kind regards

[2022-10-19 06:07] #332 closed